

<div class="reg card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Registration</div>

    <div class="card-body">

        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <fieldset>
                    <label class="control-label" for="fname">First Name:</label>
                    <input 
                    class="form-control" 
                    id="fname" 
                    type="text" 
                    placeholder="Disabled input here..."
                    formControlName="firstName"
                    >
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset>
                    <label class="control-label" for="lname">Last Name:</label>
                    <input 
                    class="form-control" 
                    id="lname" 
                    type="text" 
                    placeholder="Disabled input here..."
                    formControlName="lastName"
                    >
                </fieldset>
            </div>

        
            <button type="submit" [disabled]="!profileForm.valid">Submit</button>
        
            {{profileForm.valid}}
        </form>



        
    </div>
</div>